<!doctype html>
<html lang="tr-TR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DT</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="vue.min.js"></script>
</head>
<body style="background: #eee">
<div id="app">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <input type="date" class="form-control my-3" v-model="first"/>
                <input type="date" class="form-control my-3" v-model="last"/>
                <div class="list-group mb-3">
                    <a class="list-group-item list-group-item-action" v-for="(item, index) in person"
                       :class="{'active': index === num-1}" @click="num=index+1">
                        {{ item }}
                    </a>
                </div>

                {{ num }},
                {{ first }},
                {{ last }}
            </div>
        </div>
    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            num: 0,
            person: [
                "Bu kişi, liderlik yeteneklerini geliştirmesi ve kendi kararlarını alması gereken durumları yaşamına çekecektir.",
                "Sezgisel yeteneklere sahip olan bu kişi, empati yeteneğini geliştirmesi, işbirliği yapması gereken durumları çekecektir.",
                "Gelişmiş ifade yeteneklerine sahip olan bu kişi, konuşarak, söyleyerek ya da yazarak bu enerjisini hayata geçirmeyi öğrenmelidir.",
                "Adalet ve dürüstlük özelliklerine sahip bu kişi, halkı için çalışacağı durumları hayatına çekecektir.",
                "Etrafı sürekli kalabalık olan bu kişi, sorumluluklarını da ihmal etmeden, özgürlük duygusunu deneyimleyeceği durumları yaşamına çekecektir. ",
                "Öğretmenlik yeteneklerine sahip olan bu kişi, sorumluluğu ve aile değerlerini öğreneceği durumları yaşamına çekecektir.",
                "Araştırmacı yönü güçlü olan bu kişi, arada yalnız kalıp, bilgeliğini geliştirmesi gereken durumları yaşamına çekecektir.",
                "Yöneticilik yeteneklerine sahip olan bu kişi, maddi konularla ilgilenmesi ve gücüne sahip çıkması gereken durumlarla karşılaşacaktır.",
                "Sanatsal ve şifacı yeteneklere sahip olan bu kişi, insanlara ve diğer canlılara yardım etmesi gereken durumları çekecektir."
            ],
            first: "",
            last: "",
        }
    })
</script>
</body>
</html>